@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}



/* Barra de navegacion */
header {
    display: inline-block;
    background-color: #EAC926;
    width: 100vw;
}

.first-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 45%;
    margin: 0;
}

.search {
    width: 45%;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 90%;
    border: none;
}

.search button {
    border: none;
    background-color: white;
}

.first-nav p {
    margin: 10px 0;
}

nav {
    margin: 15px;
}

.burger-menu {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.site,
.navbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.burger-menu i {
    font-size: 20px;
    background-color: #03264C;
    color: #ebebeb;
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.img-banner {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 3px;
}

/*==formulario START==*/

form {
    width: 90vw;
}

.cont-dates{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.cont-dates label{
    font-size: 16px;
    margin-bottom: 10px;;
}

.cont-dates input{
    height: 30px;
}

.radio{
    display: flex;
    flex-wrap: wrap;
}

.radio label{
    align-self: center;
    margin-bottom: 0;
    margin-right: 10px;
}

.radio input{
    margin-right: 10px;
}

/*--check box START--*/

.check{
    display: flex;
    flex-direction: column;
}

.check-box{
    display: flex;
    flex-wrap: wrap;
}

.check-box label{
    align-self: center;
    margin-bottom: 0;
    margin-right: 10px;
}

.check-box input{
    margin-right: 10px;
}

/*--check box END--*/

/*--botones start--*/
.botones{
    display:flex;
    justify-content: space-between;
    margin: 15px;
}

.botones #submit {
    width: 47%;
    height: 30px;
}

.botones #reset {
    width: 47%;
    height: 30px;
}

#submit input{
    width: 100%;
    height: 100%;
}

#reset button{
    width: 100%;
    height: 100%;
}

#submit input:hover{
    background-color: #0022AA;
    color:white;
}
/*--botones END--*/

/*==formulario END==*/

/*--footer START--*/

footer section {
    text-align: center;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #EAC926;
}

section i:hover{
    color:#0022AA;
}

/*--footer END--*/

@media (min-width: 361px) {

    .site,
    .navbar {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .search {
        width: 30%;
    }

    .first-nav p {
        width: 30%;
    }

    .second-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .second-nav .navbar {
        width: 44vw;
        display: flex;
        justify-content: space-around;
    }

    form{
        max-width: 500px;
        margin: auto;
    }

   

}

@media (min-width: 769px) {
    nav a, p{
        font-size: 16px;
    }

    .box-footer{
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 0;
    }

    .box-footer section{
        width: 31%;
    }
}